<section class="services calcBlock" id="calculator" {% if block.css_anchor %}id="{{ block.css_anchor }}"{% endif %}>
  <h2>{% if current_language == 'ru' %}Стоимость техпаспорта БТИ{% else %}Вартість техпаспорта БТІ{% endif %}</h2>
  <div class="container-max">
    <div class="servBtn">
      <a href="#" class="calcTabBtn active" data-cat="kvartira">{% if current_language == 'ru' %}Квартира{% else %}Квартира{% endif %}</a>
      <a href="#" class="calcTabBtn" data-cat="budynky">{% if current_language == 'ru' %}Дом{% else %}Будинок{% endif %}</a>
      <a href="#" class="calcTabBtn" data-cat="komerc">{% if current_language == 'ru' %}Нежилые{% else %}Нежитлові{% endif %}</a>
    </div>
    <form id="calc1" class="calc-form">
      <div>
        <p>{% if current_language == 'ru' %}Площадь кв. м.{% else %}Площа кв. м.{% endif %}</p>
        <input type="number" id="squareVal" name="square" placeholder="{% if current_language == 'ru' %}Введите площадь{% else %}Введіть площу{% endif %}">
      </div>
      <div>
        <p>{% if current_language == 'ru' %}Район/город{% else %}Район/місто{% endif %}</p>
        <select name="region" id="regionsselect"></select>
      </div>
      <div>
        <p>{% if current_language == 'ru' %}Громада{% else %}Громада{% endif %}</p>
        <select name="city" id="cityselect">
          <option value="">{% if current_language == 'ru' %}Выбрать{% else %}Вибрати{% endif %}</option>
        </select>
      </div>
    </form>
    <div class="form-result">{% if current_language == 'ru' %}Стоимость:{% else %}Вартість:{% endif %} <span id="cost">0</span> грн</div>
    <form id="calc-form-data" data-lead-form="calculator">
      <input type="text" name="name" placeholder="{% if current_language == 'ru' %}Ваше имя{% else %}Ваше ім'я{% endif %}" required>
      <input type="tel" name="tel" placeholder="{% if current_language == 'ru' %}Ваш телефон{% else %}Ваш телефон{% endif %}" required>
      <input type="hidden" name="type" value="Квартира">
      <input type="hidden" name="price" value="">
      <input type="hidden" name="square" value="">
      <input type="hidden" name="region" value="">
      <input type="hidden" name="cityInput" value="">
      <input type="hidden" name="plan" value="без змін">
      <button type="submit">{% if current_language == 'ru' %}Отправить{% else %}Відправити{% endif %}</button>
    </form>
  </div>
</section>
